# Python
__pycache__/
*.pyc
venv/
.env
*.egg-info/

# Data
data/exports/*.yaml
data/chroma_db/
data/test_chroma/
backend/data/

# IDE
.vscode/
.idea/

# Node
node_modules/
frontend/node_modules/

# OS
Thumbs.db
.DS_Store
